
# Treat everything as text, normalize to LF in the repo
* text=auto

# Ensure these filetypes keep LF endings
*.svg   text eol=lf
*.ts    text eol=lf
*.tsx   text eol=lf
*.json  text eol=lf
*.node filter=lfs diff=lfs merge=lfs -text
